body {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    
}

.header {
    justify-content: space-between; /*justify-content=primary axis direction*/
    align-items: center; /*align-items=cross axis direction*/
    padding: 0px 8px 24px;
    background-color: #1F2937;
    color: #F9FaF8;
}

.logo {
    display: flex;
    padding-left: 100px;
    font-size: 24px;
}

.right {
    display: flex;
    padding-right: 100px;
    color: #E5E7EB;
    gap: 16px; /* why can't I get a gap between the links?*/
    /*padding: 16px;*/
}

li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 16px;

}

.container {
    display: flex;
    flex: 1;
}

.container .left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1; /* how to create another container within*/
}

.footer,
.header {
    display: flex;
    flex-direction: row;
    flex: 1;
    
}
